<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>
body{
background-image:url('https://wallpaperscraft.com/image/interior_design_style_minimalism_room_sofa_orange_lamp_vase_75442_1285x697.jpg');
opacity:0.7;
}
#footer {
  height: 60px;
  background-color: #f5f5f5;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}
</style>
</head>
<body>
<br>
<marquee width="100%" behavior="alternate">
<h2>Bloom.com</h2>
</marquee>
 </body>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <!-- Default dropup button -->
  <div id="footer">
      <div class="container">
        <p class="text-muted credit">
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Home <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href="#/registration">Registration</a></li>
                    <li><a href="#/login">Login</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li class="divider"></li>
                    <li><a href="#">Separated link</a></li>
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Social Medias <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href="https://en-gb.facebook.com/login/">Facebook</a></li>
                    <li><a href="https://twitter.com/login?lang=en">Twitter</a></li>
                    <li><a href="https://webmail.au.syrahost.com/login/">Mail Us</a></li>
                    
                </ul>
            </div>
            </div></div>
   
</html>

