<div>
<span style="color:red"></span>
<table align="center">
<tr><td>Enter Job Title</td>
<td><input type="text" ng-model="job.jobTitle" class="form-control">
</td>
</tr>
<tr><td>Enter Job Description</td>
<td><input type="textarea" ng-model="job.jobDescription" class="form-control">
</td></tr>
<tr><td>Enter Skills Required</td>
<td><input type="text" ng-model="job.skillsRequired" class="form-control">
</td></tr>
<tr><td>Enter Location</td>
<td><input type="text" ng-model="job.location" class="form-control">
</td></tr>
<tr><td>Enter Salary</td>
<td><input type="number" ng-model="job.salary" class="form-control">
</td></tr>
<tr><td>Enter Company Name</td>
<td><input type="text" ng-model="job.companyName" class="form-control">
</td></tr>
<tr><td>Enter Years Of Experience</td>
<td><input type="text" ng-model="job.yearsofexp" class="form-control">
</td></tr>
<tr><td><input type="submit" ng-click="saveJob()">


</table>

</div>

