<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
<style>

#footer {
  height: 60px;
  background-color: #f5f5f5;
}
.container {
  width: auto;
  max-width: 680px;
  padding: 0 15px;
}

h4{
 border-bottom: 6px solid blue;
 background-color: #7FFFD4;
 
}
.container{
border: 2px solid black;
    border-radius: 12px;
}

</style>
</head>
<body>
<br>
<header class="masthead">
      <div class="header-content">
        <div class="header-content-inner">
          <h1 id="homeHeading"><marquee width="100%" behavior="alternate">
<h2>Bloom.com</h2>
</marquee></h1>
          <hr>
          <h3 style="color:white" align="center"><p>Welcome to bloom website.Here you can find your jobs based on your 
dream and also you have the facility to chat with your friends....</p></h3>
          
        </div>
      </div>
    </header>
    <br><br>

    <section class="container" id="about">
      <div class="container">
        
                  <h2 class="section-heading text-white" align="center" style="color:white">List of companies</h2>
            <hr class="light">
            
            <div class="container">
<div class="row">
<div class="col-sm-4">
<a href="https://en.wikipedia.org/wiki/Tata_Consultancy_Services"><h5 style="color:white">Tata Consultancy Services</h5></a>
<a href="https://en.wikipedia.org/wiki/Infosys"><h5 style="color:white">Infosys</h5></a>
<a href="https://en.wikipedia.org/wiki/Wipro"><h5 style="color:white">Wipro</h5></a>
<a href="https://en.wikipedia.org/wiki/HCL_Technologies"><h5 style="color:white">HCL Technologies</h5></a>
<a href="https://en.wikipedia.org/wiki/Tech_Mahindra"><h5 style="color:white">Tech Mahindra</h5></a>
<a href="https://en.wikipedia.org/wiki/Oracle_Financial_Services_Software"><h5 style="color:white">Oracle Financial Services Software</h5></a>
</div>
<div class="col-sm-4">
<a href="https://en.wikipedia.org/wiki/Larsen_%26_Toubro_Infotech"><h5 style="color:white">Larsen & Toubro Infotech</h5></a>
<a href="https://en.wikipedia.org/wiki/Mphasis"><h5 style="color:white">Mphasis</h5></a>
<a href="https://en.wikipedia.org/wiki/Mindtree"><h5 style="color:white">Mindtree</h5></a>
<a href="https://en.wikipedia.org/wiki/Hexaware_Technologies"><h5 style="color:white">Hexaware Technologies</h5></a>
<a href="https://en.wikipedia.org/wiki/3i_Infotech"><h5 style="color:white">3i Infotech</h5></a>
<a href="https://en.wikipedia.org/wiki/Accel_Frontline"><h5 style="color:white">Accel Frontline</h5></a>
</div>
<div class="col-sm-4">
<a href="https://en.wikipedia.org/wiki/Aditi_Technologies"><h5 style="color:white">Aditi Technologies</h5></a>
<a href="https://en.wikipedia.org/wiki/Adrenalin_eSystems"><h5 style="color:white">Adrenalin eSystems</h5></a>
<a href="https://en.wikipedia.org/wiki/Aftek"><h5 style="color:white">Aftek</h5></a>
<a href="https://en.wikipedia.org/wiki/Atom_Technologies"><h5 style="color:white">Atom Technologies</h5></a>
<a href="https://en.wikipedia.org/wiki/Blue_Star_Infotech"><h5 style="color:white">Blue Star Infotech</h5></a>
<a href="https://en.wikipedia.org/wiki/Cognizant"><h5 style="color:white">Cognizant</h5></a>
</div>
</div>

</div>

            
                      </div>
       
    </section>
<br><br><br><br>
    <section id="services">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 text-center">
            <h2 class="section-heading">At Your Service</h2>
            <hr class="primary">
          </div>
        </div>
      </div>
      <br><br><br>
      <div class="container">
        <div class="row">
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-diamond text-primary sr-icons"></i>
              <h3>Dream Jobs</h3>
              <p class="text-muted" style="color:white">You have the ability to find your dream jobs....</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-paper-plane text-primary sr-icons"></i>
              <h3>Chat with Friends</h3>
              <p class="text-muted" style="color:white">You can chat with your friends...</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-newspaper-o text-primary sr-icons"></i>
              <h3>Up to Date</h3>
              <p class="text-muted" style="color:white">We update dependencies to keep things fresh.</p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 text-center">
            <div class="service-box">
              <i class="fa fa-4x fa-heart text-primary sr-icons"></i>
              <h3>Made with Love</h3>
              <p class="text-muted" style="color:white">You are able to visit our website freely!</p>
            </div>
          </div>
        </div>
      </div>
    </section>
<br><br><br>
   
    <div class="call-to-action bg-dark">
      <div class="container text-center">
        <h2>Free Download at Start Our website!</h2>
              </div>
    </div>
<br><br><br>
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-lg-8 mx-auto text-center">
            <h2 class="section-heading">Let's Get In Touch!</h2>
            <hr class="primary">
            <p style="color:white">Ready to start your career with us? That's great! Give us a call or send us an email and we will get back to you as soon as possible!</p>
          </div>
        </div>
        </div>
        </section>
 </body>
 <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
 <!-- Default dropup button -->
  <div id="footer">
      <div class="container">
        <p class="text-muted credit">
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Home <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href="#/registration">Registration</a></li>
                    <li><a href="#/login">Login</a></li>
                    <li><a href="#">Contact Us</a></li>
                    
                </ul>
            </div>
            <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Social Medias <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href="https://en-gb.facebook.com/login/">Facebook</a></li>
                    <li><a href="https://twitter.com/login?lang=en">Twitter</a></li>
                    <li><a href="https://webmail.au.syrahost.com/login/">Mail Us</a></li>
                    
                </ul>
            </div>
             <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Mail Us <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href="">Bloom96@yahoo.com</a></li>
                    
                </ul>
            </div>
             <div class="btn-group dropup">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                    Contact Us <span class="caret caret-up"></span>
                </button>
                <ul class="dropdown-menu drop-up" role="menu">
                    <li><a href=""><h4>Address:</h4>
<p>Amarasri, 8th floor,</p>
<p> No.455, Anna Salai,</p>
<p> Teynampet,Chennai,</p>
<p> Tamil Nadu </p>
<p>600018</p></a></li>
                    
                </ul>
            </div>
           
            </div></div>
   
</html>

