 <link href="css/register.css" media="all" rel="stylesheet" type="text/css"/>
   
<div class="container">
<div class="w3-animate-opacity">
<h2 align="center" style="color:white"><i>Registration</i></h2>
<span style="color:red">{{exception.message}}</span>
<br><br><br><br>
<form class="form-horizontal">
<font face="arial narrow" size="3">
<div  class="form-group">
  <label class="col-md-4 control-label" >Username: </label>  
  <div class="col-md-3">
  <input type="text" placeholder="Enter Username" class="form-control"  ng-model="user.username"   style="width:300px;" pattern="[A-Za-z\s]{3,}" required="true">
 <span style="color:red">{{duplicateUsername.message}}</span>
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" >Password: </label>  
  <div class="col-md-3">
  <input type="password"  placeholder="Enter Password" class="form-control"  ng-model="user.password"  style="width:300px;" pattern=".{4,}" required="true">
  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" >FirstName: </label>  
  <div class="col-md-3">
  <input type="text" placeholder="Enter firstname" class="form-control" ng-model="user.firstname"  style="width:300px;" pattern="[A-Za-z\s]{3,}" required="true">
  </div>
</div>
<div  class="form-group">
  <label class="col-md-4 control-label" >LastName: </label>  
  <div class="col-md-3">
  <input type="text" placeholder="Enter lastname" class="form-control" ng-model="user.lastname"  style="width:300px;" pattern="[A-Za-z\s]{3,}" required="true">
  </div>
</div>
<div class="form-group">
  <label class="col-md-4 control-label" >E-Mail: </label>  
  <div class="col-md-3">
  <input  type="email" placeholder="Enter E-Mail Address" class="form-control" ng-model="user.email" style="width:300px;" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required="true">
  <span style="color:red">{{duplicateEmail.message}}</span>
  </div>
</div>
<div  class="form-group">
  <label class="col-md-4 control-label" >Phone: </label>  
  <div class="col-md-3">
  <input type="text" placeholder="Enter phonenumber" class="form-control" ng-model="user.phonenumber"  style="width:300px;" pattern="[789][0-9]{9}" required="true">
  </div>
</div>
<div class="container">
   <form><h4>Select Role:</h4>
    <label class="radio-inline">
      <h4><input type="radio" name="STUEDENT">Student</h4>
    </label>
    <label class="radio-inline">
     <h4> <input type="radio" name="ALUMINI">Alumini</h4>
    </label>
    <label class="radio-inline">
     <h4> <input type="radio" name="EMPLOYEE">Employee</h4>
    </label>
  </form>
</div>
<div class="form-group">
<br><br>
<div class="wrapper">

<button type="button" class="btn btn-primary btn-lg" ng-click="registerUser()">Register</button>

</div>
</div>
</font>


</form>
</div>
</div>
</body>
</html>