<table align="center">
<span style="color:red">{{exception.message}}</span>
<tr><td>Enter Username</td>
<td><input type="text" ng-model="user.username" class="form-control" pattern="[A-Za-z\s]{3,}" disabled>
<span style="color:red">{{duplicateUsername.message}}</span>
</td></tr>
<tr><td>Enter Password</td>
<td><input type="text" ng-model="user.password" class="form-control" pattern=".{6,}">
</td></tr>
<tr><td>Enter Firstname</td>
<td><input type="text" ng-model="user.firstname" class="form-control" pattern="[A-Za-z]{3,}">
</td></tr>
<tr><td>Enter Lastname</td>
<td><input type="text" ng-model="user.lastname" class="form-control" pattern="[A-Za-z]{3,}">
</td></tr>
<tr><td>Enter Email</td>
<td><input type="text" ng-model="user.email" class="form-control" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$">
<span style="color:red">{{duplicateEmail.message}}</span>
</td></tr>
<tr><td>Enter Phonenumber</td>
<td><input type="text" ng-model="user.phonenumber" class="form-control" pattern="[789][0-9]{9}">
</td></tr>
<tr><td>Select Role</td>
<td><input type="radio"  ng-model="user.role"  value="STUDENT">Student
<input type="radio" ng-model="user.role" value="ALUMINI">Alumini
<input type="radio" ng-model="user.role" value="EMPLOYEE">Employee
</td></tr>
<tr>
<td><input type="submit" ng-click="updateUser()" >
</td></tr>


</table>
<span style="color:red">{{error.message}}</span>